.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.navButtons{
  margin-right: 1em;
}

.menu{
  margin-left: 1em;
}

.card{
  width: 120vmin;
  height: 150vmin;
  left:20%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
