
body {
background: #56ab2f;  
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  
background: linear-gradient(to right, #a8e063, #56ab2f); 
margin: 0;
padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
